<%- include('partials/_header');%>
    <title>TinyApp - Error</title>
  </head>
  <body>
    <%- include('partials/_navbar') %>
    <main style="margin: 1em;">
      <div class="alert alert-danger" role="alert">
        You need to <a href="/login" class="alert-link">Login</a> or <a href="/register" class="alert-link">Register</a>.
      </div>
    </main>
    <%- include('partials/_footer');%>