<%- include('partials/_header');%>
    <title>TinyApp - Error</title>
  </head>
  <body>
    <header><%- include('partials/_navbar'); %></header>
    <main style="margin: 1em;">
      <div class="alert alert-danger" role="alert">
        <b><%=shortURL%></b> does not exist
      </div>
    </main>
    <%- include('partials/_footer');%>